.fondoencabezado{
    width: 100%;
}
.logoencabezado{
    position: absolute;
    top: 2%;
    z-index: 100;
}
.textoresaltado1{
    color: #8C0C23;
    font-family:
    
}
.cuadroxcuadro{
    text-align: center;
    width: 100%;
}
